<div style='width: 280px; font-family: Arial;'>
    <h5 style='margin-bottom:6px; color:#2c3e50;'>{{ prop_name }}</h5>

    <p style='margin:0;'><b>Monthly Rent:</b> RM {{ rent }}</p>
    <p style='margin:0;'><b>Size:</b> {{ size }} sqft</p>

    <hr style='margin:6px 0;'>

    <p style='margin:0;'><b>Rooms:</b> {{ rooms }}</p>
    <p style='margin:0;'><b>Bathrooms:</b> {{ bathroom }}</p>
    <p style='margin:0;'><b>Parking:</b> {{ parking }}</p>

    <p style='margin:0;'><b>Property Type:</b> {{ property_type }}</p>
    <p style='margin:0;'><b>Furnished:</b> {{ furnished }}</p>

    <hr style='margin:6px 0;'>

    <p style='margin:0; font-size:0.85rem;'>
        <b>Facilities:</b><br>{{ facilities }}
    </p>
</div>
